<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aether" version="8.0.2" targetFramework="net461" />
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net461" />
  <package id="Chiron" version="6.0.2" targetFramework="net461" />
  <package id="FParsec" version="1.0.1" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net461" />
</packages>